.chart {
  display: grid;
  grid-template-rows: auto 40px;
  grid-row-gap: 24px;
  height: 100%;
  width: 100%;
  padding: 27px 58px 24px;
  box-sizing: border-box;
}

.chart__bars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chart__bar_active .bar__value {
  color: var(--color-primary_dark);
}

.chart__bar_active .bar__column {
  background: radial-gradient(81.14% 100% at 50% 0%, #ffa300 0%, #2d1c00 100%);
  box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.4), inset 0 6px 15px rgba(255, 162, 0, 0.5);
}

.chart__leaders {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 0 39px;
}

.chart__user {
  position: relative;
  margin-left: 17px;
}

.chart__user::before {
  position: absolute;
  top: 0;
  left: -17px;
  height: 100%;
  width: 2px;
  content: '';
  background-color: var(--color-secondary_dark);
  opacity: 30%;
}

.chart__user:first-child {
  margin-left: unset;
}

.chart__user:first-child::before {
  display: none;
}

.theme_light .chart__bar_active .bar__value {
  color: var(--color-primary_light);
}

.theme_light .chart__bar_active .bar__column {
  background: linear-gradient(180deg, #fff2d1 0.82%, #ffd66c 100%);
  box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0 0 20px rgba(255, 176, 57, 0.8);
}

@media (orientation: portrait) {
  .chart {
    grid-template-rows: auto 138px;
    padding: 4px 0 0;
  }

  .chart__bars {
    overflow-x: scroll;
    padding: 0 24px;
  }

  .chart__bar {
    margin: 0 12px;
    position: relative;
  }

  .chart__bar:last-child::after {
    position: absolute;
    display: block;
    right: -24px;
    width: 24px;
    height: 100%;
    content: '';
  }

  .chart__leaders {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
    padding: 0 24px 24px;
  }

  .chart__user {
    margin: 17px 0;
  }

  .chart__user:first-child {
    margin: 0 0 17px;
  }

  .chart__user:last-child {
    margin: 17px 0 0;
  }

  .chart__user::before {
    left: 0;
    top: -17px;
    height: 2px;
    width: 100%;
  }
}

@media (max-width: 570px) and (orientation: landscape) {
  .chart__leaders {
    padding: 0 10px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .chart__leaders {
    padding: 0 150px;
  }
}
