.bar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
}

.bar__value {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: var(--color-primary_dark);
}

.bar__column {
  width: 40px;
  min-height: 8px;
  border-radius: 6px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), radial-gradient(149.08% 93.3% at 38.75% 72.1%, #000 0%, #231900 0.01%, #4d4d4d 100%);
  box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 16px rgba(103, 103, 103, 0.6);
}

.bar__description {
  margin-top: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--color-secondary_dark);
}

.theme_light .bar__column {
  background: linear-gradient(180deg, rgba(244, 244, 244, 0.9) 0.82%, #e9e9e9 100%, rgba(234, 234, 234, 0) 100%);
  box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0 0 20px rgba(207, 207, 207, 0.5);
}
