.vote {
  display: grid;
  padding-top: 16px;
  box-sizing: border-box;
  height: 100%;
  color: var(--color-primary_dark);
}

.vote__user {
  width: 104px;
  height: 142px;
  box-sizing: border-box;
  padding: 20px 4px 16px;
  border-radius: 6px;
  background-color: var(--color-secondary_dark);
}

.theme_light .vote {
  color: var(--color-primary_light);
}
