.vote {
  display: grid;
  grid-template: auto auto / 104px 104px 64px 104px 104px;
  grid-column-gap: 31px;
  grid-row-gap: 4px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  height: 100%;
  color: var(--color-primary_dark);
}

.vote__button {}

.vote__button:disabled {}

.vote__button_{}

.vote__user {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 104px;
  height: 142px;
  box-sizing: border-box;
  padding: 20px 4px 16px;
  border-radius: 6px;
  transition: background-color 0.2s ease-out;
}

.vote__user:first-child {
  grid-column: 1;
  grid-row: 1 / -1;
}

.vote__user:nth-child(5) {
  grid-column: 5;
  grid-row: 1 / -1;
}

.vote__user:hover {
  background-color: var(--color-secondary_dark);
}

.vote__user_selected {
  background-color: var(--color-accent);
}

.vote__emoji {
  position: absolute;
  top: -5px;
  width: 32px;
  height: 32px;
  font-size: 32px;
  z-index: 1;
}

.vote__avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--color-secondary_dark);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.vote__name {
  margin-top: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.theme_light .vote {
  color: var(--color-primary_light);
}

.theme_light .vote__avatar {
  -webkit-filter: unset;
  filter: unset;
}
