.vote {
  display: grid;
  padding-top: 16px;
  box-sizing: border-box;
  height: 100%;
  color: var(--color-primary_dark);
}

.vote__user {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 104px;
  height: 142px;
  box-sizing: border-box;
  padding: 20px 4px 16px;
  border-radius: 6px;
  background-color: var(--color-secondary_dark);
}

.vote__emoji {
  position: absolute;
  top: -5px;
  width: 32px;
  height: 32px;
  font-size: 32px;
  z-index: 1;
}

.vote__avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--color-secondary_dark);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.vote__name {
  margin-top: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.theme_light .vote {
  color: var(--color-primary_light);
}

.theme_light .vote__avatar {
  -webkit-filter: unset;
  filter: unset;
}
