.leaders {
  display: grid;
  grid-template: auto / repeat(5, 1fr);
  padding: 26px 66px 0;
  box-sizing: border-box;
  height: 100%;
}

.leaders__user {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 120px;
  text-align: center;
}

.leaders__user-info {
  margin-bottom: 16px;
}

.leaders__user_place_1 {
  z-index: 3;
  grid-row: 1;
  grid-column: 3;
}

.leaders__user_place_2 {
  z-index: 2;
  margin: 20px 0 0 -20px;
  grid-row: 1;
  grid-column: 4;
}

.leaders__user_place_3 {
  z-index: 2;
  margin: 20px -20px 0 0;
  grid-row: 1;
  grid-column: 2;
}

.leaders__user_place_4 {
  margin: 40px 0 0 -20px;
  grid-row: 1;
  grid-column: 5;
}

.leaders__user_place_5 {
  margin: 40px -20px 0 0;
  grid-row: 1;
  grid-column: 1;
}

.leaders__user_place_4 .user-card,
.leaders__user_place_4 .prize-podium-column__place,
.leaders__user_place_2 .user-card,
.leaders__user_place_2 .prize-podium-column__place {
  padding-left: 20px;
}

.leaders__user_place_5 .user-card,
.leaders__user_place_5 .prize-podium-column__place,
.leaders__user_place_3 .user-card,
.leaders__user_place_3 .prize-podium-column__place {
  padding-right: 20px;
}

@media (orientation: portrait) {
  .leaders {
    padding: 70px 24px 0;
  }

  .leaders__user_place_2 {
    margin: 50px 0 0 -16px;
  }

  .leaders__user_place_3 {
    margin: 100px -16px 0 0;
  }

  .leaders__user_place_4 {
    margin: 150px 0 0 -16px;
  }

  .leaders__user_place_5 {
    margin: 200px -16px 0 0;
  }

  .leaders__user_place_4 .user-card,
  .leaders__user_place_4 .prize-podium-column__place,
  .leaders__user_place_2 .user-card,
  .leaders__user_place_2 .prize-podium-column__place {
    padding-left: 16px;
  }

  .leaders__user_place_5 .user-card,
  .leaders__user_place_5 .prize-podium-column__place,
  .leaders__user_place_3 .user-card,
  .leaders__user_place_3 .prize-podium-column__place {
    padding-right: 16px;
  }
}

@media (max-width: 570px) {
  .leaders__user_place_5,
  .leaders__user_place_4 {
    display: none;
  }
}

@media (max-width: 380px), (max-height: 350px) {
  .leaders {
    padding: 10px 10px 0;
    max-height: 498px;
    align-self: flex-end;
  }
}
