.arrow-button {
  width: 64px;
  height: 64px;
  outline: none;
  border: none;
  background-image: url("~images/button-dark.svg");
  background-color: transparent;
}

.arrow-button:hover {
  transition: background-image ease 0.2s;
  background-image: url("~images/button-hover-dark.svg");
}

.arrow-button__direction_down {}

.arrow-button__direction_up {
  transform: rotateX(180deg);
}

.arrow-button:disabled {
  cursor: not-allowed;
}

.light_theme .arrow-button {
  background-image: url("~images/button-light.svg");
}

.light_theme .arrow-button:hover {
  background-image: url("~images/button-hover-light.svg");
}
