:root {
  /* font settings: todo - remove if unused */
  --font-size-headline: 30px;
  --font-weight-headline: 700;
  --font-size-subhead: 20px;
  --font-weight-subhead: 700;
  --font-size-body: 16px;
  --font-weight-body: 500;
  --font-size-caption: 14px;
  --font-weight-caption: 400;

  /* colors */
  --color-primary_light: #261c00;
  --color-secondary_light: #bfbfbf;
  --color-background_light: #fff;
  --color-primary_dark: #fcfbf7;
  --color-secondary_dark: #918f8a;
  --color-background_dark: #120c01;
  --color-accent: #f4b000;

  /* emoji */
  --emoji-height: 32px;
}
