@font-face {
  font-family: 'Roboto';
  src:
    url('~fonts/Roboto-Regular.ttf'),
    url('~fonts/Roboto-Medium.ttf'),
    url('~fonts/Roboto-Bold.ttf');
}

html,
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  height: 100vh;
}

#root,
.stories {
  height: 100%;
}
