@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url("~fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url("~fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url("~fonts/Roboto-Bold.ttf") format("truetype");
}

html,
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  height: 100vh;
}

#root,
.stories {
  height: 100%;
}
